/*----------IMPORTANT----------*/
* {
  margin: 0;
  padding: 0;
}

/*------NAVIGATION BAR------*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img {
  height: 40px;
  padding-left: 30px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  color: #007bff !important;
}
.navbar {
  background: #fff;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}

/*----------FOR PRESENTATION SLIDES----------*/
#slider {
  width: 100%;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
}
.carousel-caption h5 {
  color: #fff;
  font-size: 42px;
}

/*----------------ABOUT SECTION CSS-----------------*/
#about {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}
#about .btn {
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-content {
  padding-top: 20px;
}
.skills-bar p {
  margin-bottom: 6px;
  font-weight: 600;
}
.progress-bar {
  border-radius: 30px;
}
.progress {
  border-radius: 16px !important;
  margin-bottom: 20px;
}
.about-part1 {
  opacity: 0;
}
.about-part1.animate__animated {
  opacity: 1;
}
.about-part2 .adobe-pro {
  opacity: 0;
}
.about-part2 .ui-pro {
  opacity: 0;
}
.about-part2 .word-pro {
  opacity: 0;
}
.about-part2 .graph-pro {
  opacity: 0;
}
.about-part2 .adobe-pro.animate__animated {
  opacity: 1;
}
.about-part2 .ui-pro.animate__animated {
  opacity: 1;
}
.about-part2 .word-pro.animate__animated {
  opacity: 1;
}
.about-part2 .graph-pro.animate__animated {
  opacity: 1;
}

/*-------------------SERVICES CSS------------------*/
#services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("Project images/Services area.jpg");
  background-size: cover;
  background-position: center;
  color: #efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
#services h1 {
  text-align: center;
  color: #efefef !important;
  padding-bottom: 10px;
}
#services h1::after {
  content: "";
  background: #efefef;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.services {
  margin-top: 40px;
}
.icon {
  font-size: 40px;
  margin: 20px auto;
  padding: 20px;
  height: 80px;
  width: 80px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#services p {
  font-size: 14px;
  margin-top: 20px;
  color: #ccc;
}
.services .col-md-3:hover {
  background-color: #007bff;
  cursor: pointer;
  transition: 0.7s;
}
.our-services {
  opacity: 0;
}
.our-services.animate__animated {
  opacity: 1;
}
.webDev {
  opacity: 0;
}
.appDev {
  opacity: 0;
}
.digiMark {
  opacity: 0;
}
.graphDesi {
  opacity: 0;
}
.webDev.animate__animated {
  opacity: 1;
}
.appDev.animate__animated {
  opacity: 1;
}
.digiMark.animate__animated {
  opacity: 1;
}
.graphDesi.animate__animated {
  opacity: 1;
}

/*---------------TEAM SECTION CSS-----------------*/
#team {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #555;
}
h1 {
  text-align: center;
  color: #555 !important;
  padding-bottom: 10px;
}
h1::after {
  content: "";
  background: #007bff;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.profile-pic {
  margin-top: 25px;
}
.profile-pic .img-box {
  opacity: 1;
  display: block;
  position: relative;
}
.profile-pic .img-box img {
  filter: grayscale(1);
}
.profile-pic .img-box img:hover {
  filter: grayscale(0);
  cursor: pointer;
}
.profile-pic h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #007bff !important;
}
.profile-pic h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}
#team .fa {
  height: 25px;
  width: 25px;
  color: #007bff !important;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
}
.img-box ul {
  padding: 15px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.img-box ul li {
  padding: 5px;
  display: inline-block;
}
.img-box:hover ul {
  opacity: 1;
}
.img-box ul,
.img-box ul li {
  transition: 0.5s;
}
.myImg {
  width: 200px;
  height: 210px;
}
.our-team-head {
  opacity: 0;
}
.our-team-head.animate__animated {
  opacity: 1;
}
.image {
  opacity: 0;
}
.name {
  opacity: 0;
}
.post {
  opacity: 0;
}
.info {
  opacity: 0;
}
.image.animate__animated {
  opacity: 1;
}
.name.animate__animated {
  opacity: 1;
}
.post.animate__animated {
  opacity: 1;
}
.info.animate__animated {
  opacity: 1;
}

/*---------------PROMO SECTION-------------------*/
#promo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("Project images/wood background.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
  font-family: sans-serif;
  font-size: 38px;
}
#web-hosting {
  opacity: 0;
}
#web-hosting.animate__animated {
  opacity: 1;
}
.contact-a {
  opacity: 0;
}
.contact-a.animate__animated {
  opacity: 1;
}
/*-------------------PRICE PLAN SECTION-----------------*/
#price {
  padding: 40px 0;
  background-color: #efefef;
}
.single-price {
  margin: 10px auto;
  display: inline;
  float: left;
  width: 100%;
  background-color: #fff;
  transition: 0.5s;
}
.single-price:hover {
  box-shadow: 0 2px 20px #333333;
}
.price-head {
  background-color: #2196f3;
  display: inline;
  float: left;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
}
.price-head h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
  text-transform: uppercase;
}
.price-head p {
  font-size: 25px;
  color: #ccc;
  font-weight: bold;
  line-height: 30px;
}
#price span {
  font-size: 15px;
}
.price-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 0 15px;
}
.price-content ul li {
  border-bottom: 1px solid #efefef;
  padding: 15px 10px;
  list-style-type: none;
}
ul li:last-child {
  border: none;
}
.fa-check-circle {
  color: green;
  margin-right: 10px;
  font-size: 20px;
}
.fa-times-circle {
  color: red;
  margin-right: 10px;
  font-size: 20px;
}
.price-button {
  display: inline;
  float: left;
  padding: 15px 15px 30px;
  text-align: center;
  width: 100%;
}
.buy-btn {
  background-color: #2196f3;
  border-radius: 3px;
  display: inline-block;
  font-size: 18px;
  padding: 15px 50px;
  transition: 0.5s;
}
.buy-btn:hover {
  border-color: 1px solid #fff;
  background-color: #3f51b5;
}
a {
  text-decoration: none !important;
  color: #fff !important;
}
.prices {
  opacity: 0;
}
.prices.animate__animated {
  opacity: 1;
}
.flip-price {
  opacity: 0;
}
.flip-price.animate__animated {
  opacity: 1;
}

/*----------------------------TESTIMONIALS SECTION-----------------------------*/
#testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}
#testimonials .row {
  margin-top: 30px;
}
.col-md-4 {
  margin: 40px auto;
}
.profile {
  padding: 70px 10px 10px;
  background-color: #efefef;
}
.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid #fff;
}
.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
}
#testimonials span {
  font-size: 12px;
  color: #333333;
}
blockquote {
  font-size: 16px;
  line-height: 30px;
}
.profile {
  transition: 0.5s;
}
.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}
.testi-head {
  opacity: 0;
}
.testi-head.animate__animated {
  opacity: 1;
}
.testi-para {
  opacity: 0;
}
.testi-para.animate__animated {
  opacity: 1;
}
.man3-testi-img {
  opacity: 0;
}
.woman1-testi-img {
  opacity: 0;
}
.man2-testi-img {
  opacity: 0;
}
.man3-testi-img.animate__animated {
  opacity: 1;
}
.woman1-testi-img.animate__animated {
  opacity: 1;
}
.man2-testi-img.animate__animated {
  opacity: 1;
}
.container .row .text-center .profile .fa {
  color: #007bff;
}

/*---------------------------GET IN TOUCH-----------------------*/
#contact {
  background-color: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777777;
}
.contact-form {
  padding: 15px;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
}
::placeholder {
  color: #999999;
}
.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}
.contact-info .fa {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}
.contact-head {
  opacity: 0;
}
.contact-head.animate__animated {
  opacity: 1;
}
.text-input {
  opacity: 0;
}
.number-input {
  opacity: 0;
}
.email-input {
  opacity: 0;
}
.text-area-input {
  opacity: 0;
}
.text-input.animate__animated {
  opacity: 1;
}
.number-input.animate__animated {
  opacity: 1;
}
.email-input.animate__animated {
  opacity: 1;
}
.text-area-input.animate__animated {
  opacity: 1;
}
.myAddress {
  opacity: 0;
}
.myPhone {
  opacity: 0;
}
.myEmail {
  opacity: 0;
}
.myLinks {
  opacity: 0;
}
.myAddress.animate__animated {
  opacity: 1;
}
.myPhone.animate__animated {
  opacity: 1;
}
.myEmail.animate__animated {
  opacity: 1;
}
.myLinks.animate__animated {
  opacity: 1;
}
/*---------------------------FOOTER SECTION---------------------------*/
.responsive-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#footer {
  width: 100%;
  height: 40vh;
  background-color: #333333;
  color: white;
  padding: 12px;
}
#footer .container .about-us p {
  text-align: center;
}
#footer .container .about-us h2 {
  margin: 20px;
}
#footer .container .social-links a {
  margin: 20px;
  border-radius: 10px 0 10px 0;
  font-size: 30px;
  padding: 10px;
  transition: all 0.3s linear;
}
#footer .container .social-links a:hover {
  background-color: #555;
}
.copy-right {
  width: 100%;
  margin-top: 50px;
  margin-left: 19rem;
  text-align: center;
  color: #ccc;
  transition: all 0.2s linear;
}
.copy-right b {
  color: #fff;
}
.fa-heart {
  margin: 5px;
  color: red;
}

#footer .responsive-footer .about-sec {
  opacity: 0;
}
#footer .responsive-footer .about-sec.animate__animated {
  opacity: 1;
}
#footer .responsive-footer .social-sec {
  opacity: 0;
}
#footer .responsive-footer .social-sec.animate__animated {
  opacity: 1;
}
